@import "./css/reset.css";
@import "./css/typography.css";
@import "./css/utils.css";
@import "./css/components/components.css";
@import "./css/sections/sections.css";

:root {
  --color-neutral-900: #062630;
  --color-neutral-700: #385159;
  --color-neutral-200: #e6e1df;
  --color-neutral-100: #faf5f3;
  --color-neutral-0: #ffffff;

  --color-primary-400: #fea36f;
  --color-primary-100: #ffe2d1;
  --color-primary-50: #fff5ef;

  --glow-color: #9cc9da;

  --foreground-gradient: linear-gradient(107deg, #d18c63 0%, #062630 61.84%);
  --background-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
  --background-gradient-2: radial-gradient(
    rgba(10, 13, 22, 0.01) 20%,
    rgba(10, 13, 22, 0.05) 100%
  );

  --font-family-sans: "Inter", sans-serif;
  --font-family-monospace: "Martian Mono", monospace;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--color-neutral-700);
  /* background: conic-gradient(from 90deg at 2px 2px,#0000 90deg,#366 0) 0 0/100px 100px; */
}

h1,
h2,
h3 {
  font-family: var(--font-family-monospace);
}

/* reset */

/* utils */

/* layout */

/* components */
