.membership__heading {
  text-align: center;
  margin-bottom: 1.5rem;

  @media (min-width: 48rem) {
    margin-bottom: 2.5rem;
  }

  @media (min-width: 90rem) {
    margin-bottom: 4rem;
  }
}

.membership__list {
  display: grid;
  gap: 1.5rem;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(auto-fit, minmax(17.875rem, 1fr));
  }

  @media (min-width: 90rem) {
    align-items: center;
  }
}

.membership__featured-membership-card {
  @media (min-width: 90rem) {
    padding-block: 2.5rem;
  }
}
