.rating {
  display: inline-flex;
  align-items: center;
  gap: 1.25rem;
}

.rating__avatars {
  width: 110px;
}

.rating__group {
  display: grid;
  justify-items: start;
  gap: 0.25rem;
}

.rating_stars {
  display: inline-flex;
}

.rating__text {
  font-family: var(--font-family-monospace);
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: -1px;
}
