.step-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  counter-reset: step-counter;
  color: var(--color-neutral-900);
  font-family: var(--font-family-monospace);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.3;

  li::before {
    margin-bottom: 1.8rem;
    content: counter(step-counter);
    counter-increment: step-counter;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border: 2px solid var(--color-neutral-900);
    border-radius: 0.25rem;
    line-height: 1.2;
  }

  @media (min-width: 90rem) {
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-between;

    li {
      position: relative;
    }

    li::after {
      content: url("../../assets/images/pattern-arrow.svg");
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
